@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(Source+Sans+Pro_400_normal.eot); /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot */
    src: local('☺'),
        url(Source+Sans+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot */
        url(Source+Sans+Pro_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2 */
        url(Source+Sans+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7j.woff */
        url(Source+Sans+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7gujVj9w.ttf */
        url(Source+Sans+Pro_400_normal.svg#Source+Sans+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7i&skey=1e026b1c27170b9b&v=v18#SourceSansPro */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url(Source+Sans+Pro_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_400_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2 */
        url(Source+Sans+Pro_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDQ.woff */
        url(Source+Sans+Pro_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDdB9cme.ttf */
        url(Source+Sans+Pro_400_italic.svg#Source+Sans+Pro_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(Source+Sans+Pro_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_300_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2 */
        url(Source+Sans+Pro_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdo.woff */
        url(Source+Sans+Pro_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr3cOWxw.ttf */
        url(Source+Sans+Pro_300_normal.svg#Source+Sans+Pro_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(Source+Sans+Pro_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2 */
        url(Source+Sans+Pro_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdo.woff */
        url(Source+Sans+Pro_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr3cOWxw.ttf */
        url(Source+Sans+Pro_700_normal.svg#Source+Sans+Pro_700_normal) format('svg'); /* {{svg-gf-url}} */
}
