<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="triggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span> APP LOGO </span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>color_lens</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [class.list-item-active]="theme===currentTheme" *ngFor="let theme of themelist;index as i" (click)="changeTheme(theme)">
              {{theme}}
            </button>
            <mat-divider></mat-divider>
            <div class="switch-dark">
              <mat-slide-toggle color="primary" class="text-primary" [(ngModel)]="isDark" (change)="switchDark()">暗黑模式</mat-slide-toggle>
            </div>
          </mat-menu>
        </li>
        <li>
          <button mat-icon-button >
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item ><mat-icon>person</mat-icon> 个人中心</button>
            <mat-divider></mat-divider>
            <button mat-menu-item ><mat-icon>exit_to_app</mat-icon> 退出</button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>