<mat-nav-list>
  <mat-list>
    <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:
      true}" routerLink="/dashboard">看板</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:
      true}" routerLink="/table">表格</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:
      true}" routerLink="/list">列表</a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:
        true}" routerLink="/form">表单</a>
  </mat-list>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  
</mat-nav-list>