<div class="dashboard-panel">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
      <app-card title="用户数" value="1234">
        <mat-icon style="color:#40c9c6;font-size: 125px;">group</mat-icon>
      </app-card>
    </mat-card>
    <mat-card fxFlex="25">
      <app-card title="Messages" value="324">
        <mat-icon style="color:#36a3f7;font-size: 125px;">email</mat-icon>
      </app-card>
    </mat-card>
    <mat-card fxFlex="25">
      <app-card title="类别3" value="1234">
        <mat-icon style="color:#f4516c;font-size: 125px;">group</mat-icon>
      </app-card>
    </mat-card>
    <mat-card fxFlex="25">
      <app-card title="类别4" value="1234">
        <mat-icon style="color:#34bfa3;font-size: 125px;">group</mat-icon>
      </app-card>
    </mat-card>
  </div>
</div>

<br />
  
<div>
  <app-chart></app-chart>
</div>

<br />