:host {
  .dashboard-panel {
    margin-top: 35px;

    .mat-icon {
      width: 100px;
      height: 100%;
      display: flex;
      flex: 1;
      align-items: center;
      font-size: 56px;
    }
  }
}
