:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header {
  z-index: 20 !important;
}

mat-drawer {
  width: 250px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  .inner-content {
    min-height: 100%;
    padding: 14px;
  }
}
