$login-bg:#9A61ED;
$light_gray:#fff;
$cursor: #fff;


.login-container{
    min-height: 100%;
    width: 100%;
    background-color: $login-bg;
    overflow: hidden;
    .login-form {
        position: relative;
        width: 520px;
        max-width: 100%;
        padding: 160px 35px 0;
        margin: 0 auto;
        overflow: hidden;
      }
}

.title-container {
    position: relative;
    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }