<nz-sider class="side-menu" [nzBreakpoint]="'md'" nzCollapsible nzWidth="250px">
  <ul nz-menu nzMode="inline" class="sider-menu">
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: navMenu }"></ng-container>
    <ng-template #menuTpl let-menus>
      <ng-container *ngFor="let menu of menus">
        <li 
          *ngIf="!menu.children"
          nz-menu-item
          [nzPaddingLeft]="menu.level*24"
          nzMatchRouter>
          <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
          <span><a [routerLink]="menu.routerLink">{{ menu.title }}</a></span>
        </li>
        <li 
          *ngIf="menu.children"
          nz-submenu
          [nzTitle]="menu.title"
          [nzIcon]="menu.icon"
          [nzPaddingLeft]="menu.level*24">
          <ul>
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-template>
  </ul>
</nz-sider>