@use '~@angular/material' as mat;
@use './sharedTheme/_item-active-theme.scss' as nav;
@use './sharedTheme/_text-color-theme.scss' as text;
@import '~@angular/material/theming';
@include mat.core();

// 定义调色板
$candy-app-primary: mat.define-palette($mat-blue);
$candy-app-accent: mat.define-palette($mat-green, 600, 100, 800);
// 警告可选，如果设置，默认红色
$candy-app-warn: mat.define-palette($mat-red, 600);
// 默认主题
$candy-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $candy-app-primary,
      accent: $candy-app-accent,
      warn: $candy-app-warn,
    ),
  )
);
@include angular-material-theme($candy-app-theme);
@include nav.nac-item-active($candy-app-theme);
@include text.theme($candy-app-theme);
