<div class="login-container">
  <div class="login-form-container">
    <div class="title">
      <h1>PNCT</h1>
    </div>
    <div class="login-info">
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="账号密码登录">
          <app-login-account></app-login-account>
        </nz-tab>
        <nz-tab nzTitle="手机号登录">
          <app-login-mobile></app-login-mobile>
        </nz-tab>
      </nz-tabset>
    </div>
    <div class="login-footer">
      <nz-divider nzText="第三方账号登录"></nz-divider>
    </div>
  </div>
</div>